body {
    overflow-x: hidden;
    margin: 0;
    font-size: 16px;
}

/* Wrapper */
#wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100vh; /* Garante que o wrapper tenha pelo menos a altura da viewport */
    align-items: stretch;
    position: relative; /* Garantir que a sidebar se estenda conforme o wrapper */
}

/* Sidebar */
#sidebar-wrapper {
    width: 250px;
    margin-left: -250px;
    background-color: gray;
    transition: margin 0.25s ease-out;
    padding-top: 60px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0; /* Garante que a sidebar esteja alinhada à esquerda */
    height: 100vh; /* Garante que a sidebar tenha altura total da viewport */
}

/* Quando a sidebar está aberta */
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/* Página de Conteúdo */
#page-content-wrapper {
    flex: 1; /* Permite que o conteúdo ocupe o espaço restante */
    padding: 20px;
    overflow-x: hidden;
    padding-top: 60px; /* Ajuste conforme necessário */
    position: relative;
}

/* Navbar */
.navbar {
    background-color: rgb(255, 129, 3);
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

/* Estilos adicionais */
.navbar-text {
    font-size: 18px;
    color: #fff;
    margin-left: 5px;
}

.user-icon {
    font-size: 18px;
    color: #fff;
}

#sidebar-wrapper .list-group-item {
    background-color: gray;
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

#sidebar-wrapper .list-group-item:last-child,
#sidebar-wrapper .submenu-item:last-child {
    border-bottom: none;
}

#sidebar-wrapper .list-group-item:hover,
#sidebar-wrapper .submenu-item:hover {
    background-color: darkgray;
}

#sidebar-wrapper .submenu-item {
    padding-left: 20px;
    background-color: gray;
    color: white;
}

#sidebar-wrapper .submenu-item:not(.collapsed) {
    border-bottom: 1px solid white;
}

.collapse {
    transition: height 0.3s ease;
}

.list-group-item .arrow-icon {
    transition: transform 0.3s ease;
}

#menu-toggle {
    background-color: rgb(255, 129, 3);
    border-color: rgb(255, 129, 3);
}

#menu-toggle .fas.fa-bars {
    color: white;
}

@media (max-width: 767px) {
    #sidebar-wrapper {
        width: 100%;
        margin-left: -100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
        width: 250px;
    }

    #page-content-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-text {
        font-size: 16px;
    }

    .user-icon {
        font-size: 16px;
    }

    #sidebar-wrapper .submenu-item {
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }
}

@media (max-height: 600px) {
    /* Garante que a sidebar tenha altura total da viewport em telas de altura limitada */
    #sidebar-wrapper {
        height: 100vh; /* Ajuste a altura para garantir que a sidebar ocupe a altura total da tela */
    }
}
